/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-header {
  position: relative;
  overflow: hidden;
  background-color: #fff7ef;
  height: 217px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .l-header {
    width: 80%;
    height: 217px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.p-header__title {
  font-family: "Roboto", sans-serif;
  color: #707070;
  display: inline-block;
  margin-top: 40px;
  font-size: 40px;
}
@media screen and (min-width: 1025px) {
  .p-header__title {
    font-size: 64px;
    margin-left: 65px;
    margin-top: 0;
  }
}

.p-header__form {
  display: inline-block;
  max-height: 46px;
  min-width: 320px;
  margin-top: 38px;
  width: 85.3333333333vw;
  height: 100vh;
}
@media screen and (min-width: 600px) {
  .p-header__form {
    width: 65.4676258993vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__form {
    width: 28.3854166667vw;
    margin-right: 31px;
    margin-top: 0;
  }
}

.p-header__form__box {
  display: inline-block;
  position: relative;
  width: 72%;
  height: 100%;
}
.p-header__form__box::before {
  content: url(../../../img/header_form_text_icon.svg);
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: 100;
  display: inline-block;
  vertical-align: text-top;
  width: 1.5rem;
  height: 1.5rem;
}

.p-header__form__text {
  padding-left: 2.5rem;
  width: 100%;
  height: 100%;
  outline-color: #707070;
  border-radius: 10px;
}

.p-header__form__submit {
  width: 25%;
  height: 100%;
  outline-color: #707070;
  border-radius: 10px;
  font-weight: bold;
  color: #707070;
}
.p-header__text {
  font-family: "Roboto", sans-serif;
  color: #707070;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 82%;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .p-header__text {
    font-size: 34px;
    left: 87%;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__text {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */