/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-header {
  position: relative;
  overflow: hidden;
  background-color: #fff7ef;
  height: 217px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .l-header {
    width: 80%;
    height: 217px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

#sidebar {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 1025px) {
  #sidebar {
    width: 20%;
    left: 80%;
  }
}

.c-form--header__text {
  padding-left: 2.5rem;
  outline-color: #707070;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.c-form--header__submit {
  width: 25%;
  height: 100%;
  outline-color: #707070;
  border-radius: 10px;
  font-weight: bold;
  color: #707070;
}

.c-list--menu__text {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 23px;
}

.c-title--header {
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.c-title--sidebar {
  display: none;
}

.c-title--menu {
  font-weight: bold;
}

.c-btn--header {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.c-link--menu {
  text-decoration: none;
  color: #707070;
}

.p-header__title {
  color: #707070;
  margin-top: 40px;
  font-size: 40px;
}
@media screen and (min-width: 1025px) {
  .p-header__title {
    font-size: 64px;
    margin-left: 65px;
    margin-top: 0;
  }
}

.p-header__form {
  display: inline-block;
  max-height: 46px;
  min-width: 320px;
  margin-top: 38px;
  width: 85.3333333333vw;
  height: 100vh;
}
@media screen and (min-width: 600px) {
  .p-header__form {
    width: 65.4676258993vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__form {
    width: 28.3854166667vw;
    margin-right: 31px;
    margin-top: 0;
  }
}

.p-header__form__search {
  display: inline-block;
  position: relative;
  width: 72%;
  height: 100%;
}
.p-header__form__search::before {
  content: url(../../../img/header_form_text_icon.svg);
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: 100;
  vertical-align: text-top;
  width: 1.5rem;
  height: 1.5rem;
}

.p-header__btn {
  top: 5px;
  left: 82%;
  color: #707070;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .p-header__btn {
    font-size: 34px;
    left: 87%;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__btn {
    display: none;
  }
}

.p-menu {
  background-color: #f2ede9;
  position: absolute;
  height: auto;
  width: 44%;
  left: 56%;
  top: 0;
  z-index: 100;
}
@media screen and (min-width: 1025px) {
  .p-menu {
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .p-menu--sidebar__title {
    font-family: "Roboto", sans-serif;
    color: #707070;
    font-size: 34px;
    display: inline-block;
    margin-left: 46px;
    margin-top: 82px;
  }
}

.p-menu__title {
  color: #707070;
  font-size: 24px;
  margin-left: 46px;
  margin-top: 85px;
}

.p-menu__list {
  margin-top: 40px;
}

.p-menu__btn {
  position: absolute;
  top: 1.5%;
  left: 85%;
}
@media screen and (min-width: 1025px) {
  .p-menu__btn {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */