@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";


.c-btn--header {
    @include mixin.btn-reset;
    font-family     : "Roboto", sans-serif;
    display         : inline-block;
    position        : absolute;
    top             : 5px;
    left            : 85%; //308 / 375//
    color           : #707070;
    font-size       : 20px;
    @include mixin.media("tab") {
        font-size: 34px;
        left     : 85%;
    }
    @include mixin.media("pc") {
        display: none;
    }
}

.c-btn--menu {
    @include mixin.btn-reset;
    display : inline-block;
    width   : 32px;
    height  : 32px;
    position: absolute;
    top     : 1.5%;
    left    : 85%;
    @include mixin.media("pc") {
        display: none;
    }
}
