@use "../../foundation/mixin";

//フォーム共通部//
.c-form-header {
    display: block;
    margin: auto;
    @include mixin.media("pc") {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
}

//フォームテキスト共通部//
.c-form-header__text{

}

//フォームsubmit共通部//
.c-form-header__submit{

}