@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.c-title--header{
    @include mixin.font-roboto;
    display    : inline-block;
    margin-top : 40px;
    font-size  : 40px;
    @include mixin.media("pc") {
        font-size  : 64px;
        margin-left: 65px;
        margin-top : 0;
    }
}

.c-title--sidebar{
    display: none;
    @include mixin.media("pc") {
        @include mixin.font-roboto;
        font-size  : 34px;
        display    : inline-block;
        margin-left: 46px;
        margin-top : 82px;
    }
}

.c-title--menu{
    font-weight: bold;
    color      : #707070;
    font-size  : 24px;
    margin-left: 46px;
    margin-top : 85px;
}