@use "../../foundation/mixin";

.u-margin--card {
    margin: 20px 0;
    @include mixin.media("tab") {
        margin: 40px 0;
 }
    @include mixin.media("pc") {
       margin: 111px 0;
   }
}
