@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";
@use "sass:math";

.p-archive-card__body {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    width          : function.svw(336);
    height         : 585px;
    @include mixin.media("tab") {
        flex-direction : row;
        justify-content: center;
        width          : function.tvw(756);
        height         : 354px;
    }
    @include mixin.media("pc") {
        
        width : function.pvw(1353);
        height: 470px;
        //height: calc(function.pvw(1353) * 0.35);
    }
    

}

.p-archive-card__item {
    position         : relative;
    background-color : #3C2B1C;
    padding-top      : 30px;
    padding-bottom   : 40px;
    padding-left     : function.svw(16);
    padding-right    : function.svw(72);
    height           : 60%;
    width            : 100% ;
    //width            : function.svw(336);
    @include mixin.media("tab"){
        padding-right    : function.tvw(60);
        padding-left     : function.tvw(44);
        width            : 50%;
        height           : 100%;
    }
    @include mixin.media("pc"){
        padding-right    : function.pvw(104);
        padding-left     : function.pvw(82);
        padding-top      : 50px;
        
    }
}

.p-p-archive-card__text {
    overflow  : hidden;
    color     : white;
    font-size : 1.6rem;
    width     : 100%;
    height    : 114px;
    margin-top: 15px;
    margin-bottom: 10px;
    @include mixin.media("tab"){
        height       : 114px;
        margin-top   : 15px;
        margin-bottom: 10px;
    }
    @include mixin.media("pc"){
        //width : function.pvw(510);
        height       : 74px;
        margin-top   : 15px;
        margin-bottom: 10px;
    }
}