@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.p-box {
    display            : flex;
    align-items        : center;
    width              : function.svw(375);
    height             : 285px;
    background-image   : url(../../../img/main/main_title_img_sp2.jpg);
    background-position: center center;
    background-size    : cover;
    @include mixin.media("tab") {
        background-image: url(../../../img/main/main_title_img_pc1.jpg);
        width           : function.tvw(834);
        height          : 285px;
    }
    @include mixin.media("pc") {
        width : function.pvw(1553);
        height: 530px;
    }
}
