@use "../../foundation/mixin";

//ヘッダータイトル（Hamburger）//
.p-header__title {
    font-family: "Roboto", sans-serif;
    color: #707070;
    font-size: 40px;
    margin: auto;
    width: 203px;
    height: 53px;
    margin-top: 47px;
    @include mixin.media("pc") {
        font-size: 64px;
        margin-left: 65px;
        width: 325px;
        height: 84px;
        //margin-top: 0;
    }
}

//ヘッダーフォーム部//
.p-header__form {
    width: 545px;
    height: 45px;
    margin-top: 38px;
    @include mixin.media("pc") {
    margin-right: 31px;
    margin-top: 0;
    }
}

//ヘッダーフォーム部（テキスト入力部）//
.p-header__form__text {
    width: 73%;
    height: 100%;
    outline-color: #707070;
    border-radius: 10px;
}

//ヘッダーフォーム部（送信ボタン部）//
.p-header__form__submit {
    width: 25%;
    height: 100%;
    outline-color: #707070;
    border-radius: 10px;
    font-weight: bold;
    color: #707070;
}

.p-header__text{
    display: block;
    @include mixin.media("pc") {
        display: none;
    }
}
