//@forward "../foundation/variables";
@use  "../foundation/mixin" ;

.l-header {
    position: relative;
    background-color: #fff7ef;
    height: 217px;
    width: 100%;
    @include mixin.media("pc") { 
        width: 80%;
        height: 217px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
