@use "../foundation/mixin";

#sidebar{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    @include mixin.media("pc"){
    width: 20%;
    left: 80%;
    }
}